<% layout('../../layout') %>
<script type="text/javascript">
var ws = new WebSocket("ws://localhost:8080");
ws.onopen = function()
{
  // Web Socket is connected, send data using send()
  ws.send("Message to send");
};

ws.onmessage = function (evt)
{
  var received_msg = JSON.parse(evt.data);
    console.log(received_msg);
  var widgets = window.widgets.state.widgets;
  console.log(widgets);
  widgets[received_msg.type] = received_msg;
  window.widgets.onUpdate(widgets)
};
</script>

<div id="wrapper"></div>

<script src="/js/react.js"></script>
<script src="/js/react-dom.js"></script>
<script src="/js/browser.min.js"></script>

<script src="/js/helpers.js"></script>
<script type="text/babel" src="/js/interface.js"></script>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.gridster.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
