<% layout('../../layout') %>
<script type="text/javascript">
var ws = new WebSocket("ws://localhost:8080");
ws.onopen = function()
{
  // Web Socket is connected, send data using send()
  ws.send("Message to send");
  alert("Message is sent...");
};

ws.onmessage = function (evt)
{
  var received_msg = evt.data;
  alert("Message is received...");
};

ws.onclose = function()
{
  // websocket is closed.
  alert("Connection is closed...");
};
</script>
<h1>Wat on <%= uuid %></h1>
