<% layout('../../layout') %>
<h1>Wat on <%= uuid %></h1>

<script src="/js/react.js"></script>
<script src="/js/react-dom.js"></script>
<script src="/js/browser.min.js"></script>

<script src="/js/helpers.js"></script>
<script type="text/babel" src="/js/interface.js"></script>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.gridster.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
