<!DOCTYPE html>
<html lang="en">
<head>
   <% include templates/head.ejs%>
   <link rel="stylesheet" type="text/css" href="/css/jquery.gridster.min.css">
   <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

<% include templates/header.ejs%>

<%- body %>

<% include templates/footer.ejs%>

</body>
</html>
